body {
    background-color: #222222;
    color: white;
}

#joinButton {
    background-color: #375a7f;
    border-radius: 5px;
    border-color: #334f6d;
}

#joinCode {
    border-radius: 5px;
    border-color: #6383a4;
    background-color: #222222;
    color: white;
}